service cloud.firestore {
    function isAuthenticated() {
        return request.auth != null
    }

    function isUser(userId) {
        return request.auth.uid == userId
    }

    match /databases/{database}/documents {
        match /users/{userId} {
            allow read: if isAuthenticated();
            allow write: if isUser(userId);
        }
    }
}